* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #d7e9ff;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #141414;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #c5dfff;
    background-image: url(https://www.swissinfo.ch/content/wp-content/uploads/sites/13/2025/01/506993455_highres.jpg?ver=f5d95992);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    padding: 1rem 0 2rem 0;
    box-shadow: 0 2px 5px #00000022;
    text-align: center;
    z-index: 20;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 22px;
    margin-bottom: 10px;
}

header nav a {
    color: #002868;
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: none;
}

header h1 {
    margin-top: 10px;
    font-size: 3rem;
    font-weight: 800;
}

main {
    max-width: 900px;
    width: 100%;
    margin: 180px auto 50px auto;
    padding: 0 20px;
}

main p {
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: 800;
}

hr {
    margin-bottom: 25px;
    border: none;
    height: 2px;
    background-color: #001f4d;
    max-width: 900px;
}

.imagem-centro {
    width: 100%;
    max-width: 420px;
    border-radius: 25px;
    display: block;
    margin: 20px auto;
}

.imagem-lado {
    width: 100%;
    max-width: 350px;
    border-radius: 25px;
}

.bloco-img-texto {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.imagem-lado {
    width: 100%;
    max-width: 350px;
    border-radius: 25px;
}

@media (max-width: 780px) {
    .bloco-img-texto {
        flex-direction: column;
        text-align: center;
    }

    .imagem-lado {
        margin: 0 auto;
    }
}