* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    position: relative;
    z-index: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f84339;
    opacity: 0.7;
    z-index: -1;
}

#topo {
    text-align: center;
    background-image: url(https://www.swissinfo.ch/content/wp-content/uploads/sites/13/2025/04/72921981_highres.jpg?ver=51fe3023);
    background-size: cover;
    background-position: center;
    padding: 20px 0 40px 0;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    padding: 1rem 0 2rem 0;
    background-color: #ffc5c5;
    z-index: 1000;
}

nav a {
    margin: 0 10px;
    color: #000000;
    font-weight: 600;
}

h1 {
    margin-top: 15px;
    font-size: 3.2rem;
}

.container {
    max-width: 1100px;
    margin: 160px auto 0 auto;
    padding: 30px;
    font-size: 20px;
    color: #1d1b1b;
}

.p2 {
    max-width: 1100px;
    margin: 20px auto 0 auto;
    padding: 10px;
    font-size: 20px;
    text-align: left;
}

.bloco {
    display: flex;
    align-items: flex-start;
    gap: 25px;
    margin-bottom: 50px;
}

.bloco p {
    flex: 1;
    text-align: left;
}

.bloco img {
    width: 350px;
    border: 2px solid black;
    border-radius: 10px;
}

h2 {
    font-size: 2rem;
    margin-top: 30px;
    margin-left: 5px;
}

hr {
    margin: 10px 0 30px 0;
}

.ultimo {
    margin-top: 20px;
    text-align: left;
}

@media (max-width: 850px) {
    .bloco {
        flex-direction: column;
        text-align: center;
    }

    .bloco img {
        width: 100%;
        max-width: 400px;
        margin: auto;
    }

    h1 {
        font-size: 2.6rem;
    }
}


a{

    text-decoration: none;
}