body {
    font-family: Arial, sans-serif;
    background: #e8f1f8;
    padding: 20px;
}

.quiz {
    background: white;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.pergunta {
    margin-bottom: 25px;
    padding: 15px;
    background: #f4f4f4;
    border-radius: 8px;
}

.pergunta p {
    font-weight: bold;
    margin-bottom: 10px;
}

label {
    display: block;
    background: #dde7f0;
    padding: 8px;
    border-radius: 8px;
    margin: 5px 0;
    cursor: pointer;
    transition: 0.2s;
}

input[type="radio"] {
    display: none;
}



input.certo:checked + label {
    background: #8cd48a;
}

input.errado:checked + label {
    background: #e48a8a;
}


a{
    text-decoration: none;
}