* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://wallpaperaccess.com/full/345468.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0.3;
}

#cabecalho {
    background: rgba(255, 255, 255, 0.8);
    padding: 25px 0;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#cabecalho nav a {
    margin: 0 12px;
    color: #000;
    font-size: 14px;
}

h1 {
    font-size: 4rem;
    margin-top: 10px;
    font-weight: 700;
}

.container {
    max-width: 1150px;
    margin: 140px auto 0 auto;
    padding: 30px;
}

.titulo-sec {
    font-size: 2rem;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
}

hr {
    margin-bottom: 40px;
}

.bloco {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    gap: 30px;
}

.texto {
    width: 55%;
    text-align: left;
    font-size: 18px;
    color: #1d1b1b;
}

.texto h3 {
    font-size: 1.6rem;
    margin-bottom: 15px;
    font-weight: 700;
}

.imagem-box {
    width: 40%;
    text-align: center;
}

.imagem-box img {
    width: 100%;
    border-radius: 12px;
}

.legenda {
    font-weight: bold;
    margin-top: 10px;
}

@media(max-width: 880px) {
    .bloco {
        flex-direction: column;
    }

    .texto,
    .imagem-box {
        width: 100%;
    }
}
